<div class="container mt-20" style="background-color: aliceblue;">
    <div class="row">
        <div class="col">
            <h1>What we promise</h1>
            <h3>Women deserve a life full of fulfillment and we are here to support everyone.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/assets/images/always_img/what_we_promis.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <h3>Embrace life, we've got your back!</h3>  
            <br>
            <p>We believe that women have no limits. We are here to help you unleash your full potential.</p>
            <br>
            <p>You are special and you can achieve anything you dream of no matter how small. So, as you take a step forward, always count on your biggest cheerleader.</p>
            <br>            
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h3>Innovation</h3>  
            <p>Women deserve nothing but the best.</p>
            <br>
            <p>We don't believe in compromise. We focus on innovations that keep up with the changing times, so you can stop yourself. Every sanitary and daily pad is designed to give you the ultimate comfort.</p> 
            <br>
            <p>Always is also proud to hold the patent for the world's first pad with wings and the world's first foam pad. We believe in the power of innovation to change the world.</p>         
            <br>
        </div>
    </div> 
</div>