 <!-- footer section start -->
 <div class="myfooter">
    <div class="container">
       <div class="row">
          <div class="col-md-4 mt-3">
             <div class="footerheader">
                <ul>
                   <!-- <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
                   <li><a style="color: aliceblue;" href="#">Who we are</a></li>
                   <li><a style="color: aliceblue;" href="#">What we promise</a></li>
                   <li><a style="color: aliceblue;" href="#">Always pad contents</a></li>
                </ul>
             </div> 
          </div>
          <div class="col-md-4 mt-3">
            <div class="footerheader">
               <ul>
                  <li><a style="color: aliceblue;" href="#">My Period</a></li>
                  <li><a style="color: aliceblue;" href="#">Puberty</a></li>
                  <li><a style="color: aliceblue;" href="#">Tips for parents</a></li>
                  <li><a style="color: aliceblue;" href="#">Menstrual cycle calculator</a></li>
               </ul>
            </div> 
         </div>
         <div class="col-md-4 mt-3">
            <div class="footerheader">
               <ul>
                  <li><a style="color: aliceblue;" href="#">What is the age of puberty?</a></li>
                  <li><a style="color: aliceblue;" href="#">Everything you need to know about</a></li>
                  <li><a style="color: aliceblue;" href="#">Menstrual pain</a></li>
                  <li><a style="color: aliceblue;" href="#">What does your first period look like?</a></li>
                  <li><a style="color: aliceblue;" href="#">Premenstrual syndrome symptoms</a></li>
                  <li><a style="color: aliceblue;" href="#">5 Tips for Menstrual Cramps</a></li>
               </ul>
            </div> 
         </div>
       </div>
       <div class="row">
         <div class="col-md-4">
            <div class="footerheader">
               <ul>
                  <li><a style="color: aliceblue;" href="#">Sanitary pads</a></li>
                  <li><a style="color: aliceblue;" href="#">Daily pads</a></li>
                  <li><a style="color: aliceblue;" href="#">tampons</a></li>
               </ul>
            </div> 
         </div>
         <div class="col-md-4">
           <div class="footerheader">
              <ul>
                 <li><a style="color: aliceblue;" href="#">Vaginal discharge</a></li>
                 <li><a style="color: aliceblue;" href="#">Menstrual cylce tips</a></li>
                 <li><a style="color: aliceblue;" href="#">Premenstrual syndrome</a></li>
              </ul>
           </div> 
        </div>        
      </div>
    </div>
 </div>
 <!-- footer section end -->
 <!-- copyright section start -->
 <div class="mycopyright">
    <div class="container">
       <div class="row">
          <div class="col-sm-12 mt-4">
             <p class="copyright_text">2024 All Rights Reserved. Design by <a href="">Zaheer Arshad</a>
                Distribution by <a href="">ISerena</a></p>
          </div>
       </div>
    </div>
 </div>
 <!-- copyright section end -->
 <!-- Javascript files-->
