.myfooter{
    /* background-color: #0043da; */
    background-color: #025375
}
.mycopyright{
    /* background-color: #0018ac; */
    background-color: #134369; 
}
.footerheader.li.a{
    color: aliceblue;
}