<div class="container-fluid" style="background-color: aliceblue; padding-top: 5px; padding-bottom: 5px;">
    <div class="row">
        <div class="col-md-3 mt-3 mb-3">
            <div class="card">
                <a routerLink="/first-period"><img class="card-img-top" src="/assets/images/always_img/1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title" style="color: blue;">First Period Signs: Three Signs Your Period Is Approaching</h5>
                  <p></p>
                </div></a>
              </div>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <div class="card">
                <img class="card-img-top" src="/assets/images/always_img/2.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title" style="color: blue;">How does menstruation happen?</h5>
                  <p></p>
                </div>
              </div>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <div class="card">
                <img class="card-img-top" src="/assets/images/always_img/3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title" style="color: blue;">How long is the menstrual cycle?</h5>
                </div>
              </div>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <div class="card">
                <img class="card-img-top" src="/assets/images/always_img/4.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title" style="color: blue;">Menstrual pain changes with age</h5>
                </div>
              </div>
        </div>
    </div>
</div>
