<div class="container mt-20" style="background-color: aliceblue;">>
    <div class="row">
        <div class="col">
            <h1>Ingredients for making Always sanitary pads</h1>
            <h3>A quick look at how safe Always pads are, what goes into them, and how women's protection and comfort are our company's top priorities.</h3>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/assets/images/always_img/always_pad_contents.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <p>How are Always products made? What materials are used to make them and what does the process look like? Are Always pads safe for women and girls? If you’ve always wondered about these questions, here’s a quick primer on what goes into an Always product.</p>
            <br>
            <p>Read more about the safety of Always pads and other products below.</p>
            <br>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h3>What's in Always pads?</h3>
            <p>Always is designed for perfection. Our pads in the UAE and KSA, as in the rest of the world, are made of four layers, namely the top layer, the secondary top layer, the absorbent core and the back layer. Each layer helps provide comfort and protection during your most special days. They absorb fluid quickly and transfer it to the high-quality core.</p>          
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>The absolute safety of Always pads in the region</h3> 
            <br>
            <p>As with all our markets, Always pads in the region are also manufactured to strict international safety standards. The well-being of our women is at the heart of every product we create. Safety assessments and formulas for Always products are reviewed by a number of independent industry experts including health authorities, university scientists and doctors. This helps us provide you with the best comfort.</p>           
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h3>How safe are Always pads?</h3> 
            <br>
            <p>Here's how to make sure every sanitary pad that goes out to local stores and online retailers is safe to use.</p>           
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h3>Responds to the unique needs of each woman.</h3> 
            <br>
            <p>Our products undergo rigorous safety testing. Always pads are safe to use and are manufactured to meet the unique needs of every woman. To further meet the needs of women with sensitive skin, we also produce pads designed with a soft top cover.</p>           
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h3>New improved set</h3> 
            <br>
            <p>Always believes in keeping up with the times. Our new breathable top sheet is soft and gentle on your skin and provides optimal protection during heavy flow days. Check out our new range of sanitary pads today.</p>           
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h3>Use PE tape - for best quality</h3> 
            <br>
            <p>Our products are designed using perforated films containing polyethylene (PE). This helps us maintain the quality of our products. We use PE in our products in all the countries we operate in as a means of preventing leaks. PE films are safely used in a wide range of industries:</p>
            <ul>
                <li>
                    Polyethylene is a widely used ingredient in medical products such as bandages, prosthetics, and surgical sutures.
                </li>
                <li>
                    It is used to preserve food in the form of food pouches, squeezable bottles, milk bottles, cereal boxes, liners, and more.
                </li>
            </ul>      
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Polyethylene membranes work in pads</h3> 
                <br>
                <p>Polyethylene films work wonders in protecting against menstrual leaks as the ingredient keeps the fluid secure. Here are some reasons why they are effective:</p>
                <ul>
                    <li>
                        Polythene helps transport menstrual fluid to the absorbent core. Always uses it in fibre form as the top cover for menstrual pads.
                    </li>
                    <li>
                        PE membranes provide a soft, silky feel. This makes the pads extremely comfortable while addressing the risk of rashes.
                    </li>
                    <li>
                        We understand that women have unique needs. But that doesn’t mean they have to compromise. The Always Safety Promise is true for every product that leaves our factories.
                    </li>
                </ul>      
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Frequently Asked Questions</h3> 
                <br>
                <p>Please take a look at some of the most frequently asked questions and their answers below. You can also contact us.</p>
                  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Are Always products safe?</h3> 
                <br>
                <p>Yes, our pads are safe and are used safely by millions of women every day. Your safety is at the heart of everything we do, which is why our products are rigorously tested, including evaluations by independent experts such as doctors, university scientists and health authorities. Over 1,800 quality tests are performed on pad materials during manufacturing and before use. Over 20,000 tests are performed on pads and their components by independent laboratories every year.</p>
                  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Do pads irritate the skin?</h3> 
                <br>
                <p>No, our pads should not cause skin irritation. All of our products undergo rigorous safety testing to ensure they are safe to use.</p>
                  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Are scented pads safe? Won't they be irritating and make me feel itchy down there?</h3> 
                <br>
                <p>Your safety is at the heart of everything we do, so just like our unscented pads, our scented products are safe to use. We choose materials, including the fragrance in our scented products, that won’t cause irritation or itching when used in a pad. Additionally, the fragrance used in our pads and liners meets the strict safety standards set by the International Fragrance Association, the world’s leading authority on fragrance safety.</p>
                  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Why aren't Always pads made from 100% cotton?</h3> 
                <br>
                <p>All Always products meet strict safety and effectiveness standards, regardless of the material they are made from. Always pads are designed to provide high levels of protection and comfort. The materials used in our pads enable us to better meet these performance needs.</p>
                  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Is there chlorine bleach in sanitary pads?</h3> 
                <br>
                <p>No, pads are always sterilized using a chlorine-free purification process. This is a safe process.</p>
                  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Are there toxic dyes in sanitary pads?</h3> 
                <br>
                <p>No, there are no toxic dyes in our pads. The dyes used in some of our pads have been rigorously evaluated by scientists, healthcare providers and government agencies to ensure they can be used safely.</p>
                  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>How does Always ensure its products are safe?</h3> 
                <br>
                <p>Rest assured, our science-based evaluation process works to ensure the safety of women who use our products. Only products and materials that meet our science-based safety standards can be featured in</p>
                 <br>
                <p>Market. Furthermore, we share our evaluations with scientists, healthcare providers, and regulatory bodies to ensure our products can be used safely.</p>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Our commitment to safety</h3> 
                <br>
                <p>Always is committed to ensuring that all of our products meet strict safety standards. Additionally, we believe it is important that our safety ratings and ingredients are reviewed by independent experts, who hold our products to their own skin safety standards.</p>
                <br>  
            </div>
        </div>
    </div> 
</div>

