<div class="container mt-20" style="background-color: aliceblue;">
    <div class="row">
        <div class="col">
            <br>
            <h1>Always's Battle to Build Confidence in Girls</h1>
            <br>
            <h3>Women run the world, and we believe it. Which puts us all in an epic battle.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/assets/images/always_img/our_epic_battle.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <p>Join us on our mission to encourage girls to overcome every battle as a way to build unshakable confidence.</p>
            <br>
            <p>Puberty is a life-changing time for girls and they can feel discouraged by the fear of failure. We found that girls around the world don’t feel confident enough to engage in new activities because of the fear of failure. Always wants to change that.</p>
            <br>
            <p>Failure is important and it is the path to success. It is the fuel that helps us strive harder, learn from our mistakes, and build our strength. It builds confidence and helps us reach greater heights. Over the years, we have successfully encouraged and supported girls on their way to the top. From educating millions of girls about puberty to helping them understand menstrual hygiene, our efforts have made girls feel more confident about their bodies.</p>
            <br>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h3>Building Trust – The Always Way</h3>            
        </div>
    </div> 
    <div class="row-fluid">
        <div class="col-md-8">
            <img src="/assets/images/always_img/building-trust.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Education is empowerment</h3> 
            <br>
            <p>Always believes that education plays a vital role in empowering women. That’s why we work with teachers, experts and women to make a difference in the world. We empower the world one girl at a time.</p>           
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h3>girl empowerment</h3> 
            <br>
            <p>Always serves girls around the world, empowering them to celebrate life. We have partnered with over 60 global organizations to provide sanitary pads to girls in need. Our wide range has ensured that puberty and menstruation do not hinder girl power.</p>           
            <br>
        </div>
    </div> 
</div>
