<div class="container mt-20" style="background-color: aliceblue;">
    <div class="row">
        <div class="col">
            <br>
            <h1>Who we are</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="/assets/images/always_img/who_we_are.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <p>A trusted name for decades, Procter & Gamble continues to successfully enrich the lives of women around the world. We aspire to make your life better by challenging convention, driving innovation and helping shape culture. Make our presence felt in your kitchens, living rooms, bathrooms and play areas with a wide range of high-quality products. As we continue to grow, we
                seek to deepen the roots of our purpose.
                Always is a leading brand in menstrual care and feminine hygiene. We always put you first and appreciate the value you bring wherever you go. As you spread your essence of determination and love, we deliver the menstrual care you deserve. Our mission is to make you</p>
            <br> 
            <p>
                Feel confident and comfortable even when the going gets tough. Periods are never easy and we understand that it takes immense strength to get through your day. Always brings you innovative hygiene products that ease your discomfort and help you stay protected. We design our products with your needs, safety and health in mind. Our products empower you to break down barriers.
            </p>           
        </div>
    </div> 
    <br>
    <div class="row">
        <div class="col-md-12">
            <h3>The Always product range includes:</h3> 
            <ol>
                <li>Sanitary pads</li>
                <li>Daily pads</li>
            </ol>           
        </div>
    </div> 
    
    <div class="row">
        <div class="col-md-12">
            <h3>Environmental Responsibility</h3> 
            <br>
            <p>The effort doesn’t end with bringing you superior quality products. We also care about the environment and are very aware of our footprint. Our products are designed to minimize environmental impact at every stage. High quality and conscious sourcing – that’s what makes Always your go-to brand for essentials.</p>           
            <br>
        </div>
    </div>
</div>

