

<div class="container mt-20" style="background-color: rgb(255, 255, 255);">>
    <div class="row">
        <div class="col">
            <h1><i style="color: blue;">First Period Signs: Three Signs Your Period Is Approaching</i></h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/assets/images/always_img/first.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <p>Are you worried about your first period symptoms? Learn how to read and understand these signs! Here are three helpful tips to prepare for this special time.</p>
            <br>
            <p>Although many girls get their first period symptoms between the ages of 8 and 13, the average age is 11 to 12. However, periods can come as early as 9 to 16. So even if you feel like you’ll never get your period, don’t worry, it will come in time! How will you know it’s coming? Here are some symptoms.</p>
            <br>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-6">
            <p>Puberty itself is a great sign that your first period is approaching. Here are some first period signs to look out for as well:</p>  
            
        </div>
        <div class="col-md-6">
           <img src="/assets/images/always_img/first-2.png" alt="">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><i>First menstrual signs</i></h3> 
            <br>
            <ol>
                <li>Breast “buds” development: Your breasts may take three to four years to fully develop, but you can expect your period about two years after your breasts start growing.</li>
                <li>Pubic hair growth: After your breasts start to develop, you may start to grow pubic hair. It will be soft and thin at first, but will become coarser over time. Your period usually comes after one to two years.</li>
                <li>Discharge: Vaginal discharge (white or yellowish fluid) is usually a sure sign that your first period is on the way. You may want to start using Always panty liners to protect your underwear.</li>
                
            </ol>
            <br>
            <p>In addition to these physical changes, you can also ask your mom when her period starts. You’ll likely get your first period within a year of your mom getting hers. Plus, it’s a good time to talk to your mom about all the changes you’re experiencing. She can also help you find the right products to help you deal with your first period symptoms.</p>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h3><i>How do I prepare for my first period?</i></h3> 
            <br>
            <p style="color: black;">Since you never know when your first period will come, it's a good idea to be prepared. Here are some ideas:</p>
            <ol>
                <li>Pack a menstrual emergency kit that includes panty liners, sanitary pads, and clean underwear in a small bag.</li>
                <li>Keep a sanitary pad or daily pad in your bag or purse.</li>
                <li>In an emergency, toilet paper can be used until you can get a pad or towel.</li>
                <li>Ask a friend, school nurse, or teacher for help.</li>

            </ol>
            <br>
            <p>Frequently asked questions about your first period; When should I see a doctor if I miss my period? If you have missed your period for three months in a row or have not started menstruating by age 15, you may have a condition called primary amenorrhea. This affects some women who produce lower levels of estrogen. You should see a doctor if you suspect this condition; if breast development has not started by age 13, or if your period has not started after three years of breast development. Possible causes of missed periods include:</p>
            <br>
            <ol>
                <li>I just started my period</li>
                <li>Calculation error or normal fluctuations</li>
                <li>Stress</li>
                <li>Acute exercise</li>
                <li>significant weight changes</li>
                <li>Polycystic Ovary Syndrome If you think your first period is late, you should see your doctor to help you understand the possible causes.</li>
                

            </ol>
            <br>
            <p>While most girls expect to grow hair on their arms, legs and pubic area, your daughter may be surprised to find it growing in other places as well—from the upper lips to the nipples and chin. This is normal and nothing to be ashamed of.</p>
            <p>It's up to her to decide whether or not she wants to remove it, there are no rules. You can help by reassuring her that this hair growth is normal, and by discussing different ways she can remove it, if that's what she wants.</p>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h3><i>What will my first period look like?</i></h3> 
            <br>
            <p>In general, you may feel discomfort as your uterus contracts to shed its lining. Most women find this most painful during their teenage years, and then report experiencing it less severely as they get older. Your risk is higher if you started menstruating before you were 11, if your periods were long or heavy, or if you have a lot of stress in your life.</p>           
            <p>You can relieve pain by applying a heating pad to your lower abdomen or back, or by taking over-the-counter pain relievers, such as ibuprofen, naproxen, or acetaminophen. If these medications don't help, you should make an appointment to see your doctor.</p>
            <p>Some women also find that the hormonal changes associated with menstruation make mood swings, acne, or migraines worse.</p>
            <p>If your period is preventing you from going to school or enjoying other daily activities, you should see your doctor.</p>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h3><i>How often will my period come after the first time?</i></h3> 
            <br>
            <p>The average menstrual cycle is 28 days. This means that you will get your period approximately every 28 days (starting from the first day of your period).</p>  
            <p>In fact, this number varies from girl to girl and from woman to woman. It can vary slightly from month to month. The normal range is between 21 and 35 days.</p>         
            <p>If you've just started menstruating, it's normal for your period to not come on a regular schedule. It may be a month or two off, or your periods may come very close together. Your body should get used to this whole cycle in about a year, and then a regular cycle will start.</p>
        </div>
    </div> 
</div>


