

    <!-- contact section end -->
    <!-- <div class="container">
      <h2 class="text-center m-5">Gallary</h2>
      <lightgallery>
        <a href="/assets/lightbox/img/1.jpg">
            <img alt="img1" src="/assets/lightbox/img/1.jpg" style="background-color: brown;" />
        </a>
        <a href="/assets/lightbox/img/2.jpg">
            <img alt="img2" src="/assets/lightbox/img/2.jpg" />
        </a>
        <a href="/assets/lightbox/img/3.jpg">
          <img alt="img1" src="/assets/lightbox/img/3.jpg" />
        </a>
        <a href="/assets/lightbox/img/4.jpg">
            <img alt="img2" src="/assets/lightbox/img/4.jpg" />
        </a>
      </lightgallery>      
    </div> 
    <br>
    <div class="container">
        <h2 class="text-center m-5">Product Review</h2>
        <div class="row">
            <div class="col-md-3" *ngFor="let item of productList ; let i = index">
                <div class="card" style="background-color: #123654;">
                    <img src="/assets/images/img-1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{item.productName}}</h5>
                      <p class="card-text">{{item.productDescription}}</p>
                      
                      <button type="button" (click)="openPopupView(item.id)" class="myButton" data-bs-toggle="modal" data-bs-target="#myModal-1">
                       Write Comment
                      </button>
                    </div>
                  </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="card">
                    <img src="/assets/images/img-2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Product2</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button type="button" class="myButton" data-bs-toggle="modal" data-bs-target="#myModal-2">
                        Write Comment
                       </button>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/images/img-3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Product3</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button type="button" class="myButton" data-bs-toggle="modal" data-bs-target="#myModal-3">
                        Write Comment
                       </button>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/images/img-4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Product4</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <button type="button" class="myButton" data-bs-toggle="modal" data-bs-target="#myModal-4">
                        Write Comment
                       </button>
                    </div>
                  </div>
            </div> -->
            
        <!-- </div>
    </div>  -->

 <!-- The Modal1 -->
<!-- <div class="modal" id="myModal-1">
    <div class="modal-dialog">
      <div class="modal-content">
  
         Modal Header -->
        <!-- <div class="modal-header"  style="background-color:#f0ec1c;">
          <h4 class="modal-title">{{productname}}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div> -->
  
        <!-- Modal body -->
        <!-- <div class="modal-body">
            <div class="row">
                <div class="col-4">
                    <img src="/assets/images/img-1.png" class="card-img-top" alt="...">
                </div>
                <div class="col-8">
                    <p>{{productdescription}}</p>
                </div>
            </div>
            <br>
            <div class="row" style="background-color: bisque; padding-top: 10px;">
              <h5>Users Comment :</h5>
            </div>
            <br>
            <div class="table-responsive">
              <table class="table table-striped jambo_table">
                <thead>
                  <tr style="color: black;">
                     <button type="button" class="btn primary">testBootstrap</button> -->
                    <!-- <th class="column-title">Sl No</th> -->
                    <!-- <th style="width: 30%;">Date</th>
                    <th class="column-title">Comment Post</th>
                     <th class="column-title">Action</th> 
                  </tr>
                </thead>
                <tbody *ngFor="let item of postcommentList; let i = index">
                  <td style="width: 30%;">{{item.createdOn | date: 'dd-MM-yyyy' }}</td>
                  <td>{{item.comment}}</td>
                </tbody>
              </table>
            </div>
            <form [formGroup]="commentForm">
              <div class="row">
                <div class="form-floating">
                  <textarea class="form-control" formControlName="comment" id="comment" name="comment" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"></textarea>
                  <label for="floatingTextarea">&nbsp;&nbsp;&nbsp;&nbsp;Write your Comments</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mt-3">
                  <button type="button" class="btn btn-primary" (click)="SaveComment()">Comment</button>
                </div>
              </div>
            </form>
        </div> 
  
         
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</div> -->

 <!-- The Modal2 -->
 <!-- <div class="modal" id="myModal-2">
    <div class="modal-dialog">
      <div class="modal-content">
  
        
        <div class="modal-header">
          <h4 class="modal-title">Product2</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        
        <div class="modal-body">
            <div class="row">
                <div class="col-4">
                    <img src="/assets/images/img-2.png" class="card-img-top" alt="...">
                </div>
                <div class="col-8">
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <br>
            <h5>Users Comment :</h5>
            <br>
        </div>
  
        
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</div> -->

<!-- The Modal3 -->
<!-- <div class="modal" id="myModal-3">
    <div class="modal-dialog">
      <div class="modal-content">
  
        
        <div class="modal-header">
          <h4 class="modal-title">Product3</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        
        <div class="modal-body">
            <div class="row">
                <div class="col-4">
                    <img src="/assets/images/img-3.png" class="card-img-top" alt="...">
                </div>
                <div class="col-8">
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <br>
            <h5>Users Comment :</h5>
            <br>
        </div>
  
        
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</div> -->

<!-- The Modal4 -->
<!-- <div class="modal" id="myModal-4">
    <div class="modal-dialog">
      <div class="modal-content">
  
        
        <div class="modal-header">
          <h4 class="modal-title">Product4</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        
        <div class="modal-body">
            <div class="row">
                <div class="col-4">
                    <img src="/assets/images/img-4.png" class="card-img-top" alt="...">
                </div>
                <div class="col-8">
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <br>
            <h5>Users Comment :</h5>
            <br>
        </div>
  
       
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</div> -->


<section class="pt-5 pb-5">
  <div class="container">
      <div class="row">
          <!-- <div class="col-6">
              <h3 class="mb-3 text-white">Multiple Product </h3>
          </div> -->
          <div class="col-12 text-right">
              <a class="btn btn-primary mb-3 mr-1" 
                 href="#carouselExampleIndicators2"
                 role="button"
                  data-slide="prev">
                  <i class="fa fa-arrow-circle-left"></i>
              </a>
              <a class="btn btn-primary mb-3"
                 href="#carouselExampleIndicators2"
                 role="button"
                 data-slide="next">
                  <i class="fa fa-arrow-circle-right"></i>
              </a>
          </div>
          <div class="col-12">
              <div id="carouselExampleIndicators2" 
                   class="carousel slide"
                   data-ride="carousel">

                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row">

                              <div class="col-md-4">
                                  <div class="card" style="background-color: #123654; width:350 px">
                                    <iframe height="350" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                      <div class="card-body">
                                          <h4 class="card-title text-white">
                                            Special title treatment</h4>
                                          <p class="card-text text-white">With supporting text
                                                                 below as a natural lead-in</p>

                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card" style="background-color: #123654;width:350 px">
                                    <iframe height="350" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card" style="background-color: #123654;width:350 px">
                                    <iframe height="350" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row">

                              <div class="col-md-4 mb-3">
                                  <div class="card" style="background-color: #123654;width:350 px">
                                    <iframe height="350" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>

                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card" style="background-color: #123654;width:350 px">
                                    <iframe height="350" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card" style="background-color: #123654;width:350 px">
                                    <iframe height="350" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row">

                              <div class="col-md-4 mb-3">
                                  <div class="card" style="background-color: #123654;width:350 px">
                                    <iframe height="350" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>

                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card" style="background-color: #123654;width:350 px">
                                    <iframe height="350" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card" style="background-color: #123654;width:350 px">
                                    <iframe height="350" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="pt-5 pb-5">
  <div class="container">
      <div class="row">
          <!-- <div class="col-6">
              <h3 class="mb-3 text-white">Multiple Product </h3>
          </div> -->
          <div class="col-12 text-right">
              <a class="btn btn-primary mb-3 mr-1" 
                 href="#carouselExampleIndicators3"
                 role="button"
                  data-slide="prev">
                  <i class="fa fa-arrow-circle-left"></i>
              </a>
              <a class="btn btn-primary mb-3"
                 href="#carouselExampleIndicators3"
                 role="button"
                 data-slide="next">
                  <i class="fa fa-arrow-circle-right"></i>
              </a>
          </div>
          <div class="col-12">
              <div id="carouselExampleIndicators3" 
                   class="carousel slide"
                   data-ride="carousel">

                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row">

                              <div class="col-md-3">
                                  <div class="card" style="background-color: #123654; width:250 px">
                                    <iframe height="250" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                      <div class="card-body">
                                          <h4 class="card-title text-white">
                                            Special title treatment</h4>
                                          <p class="card-text text-white">With supporting text
                                                                 below as a natural lead-in</p>

                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                <div class="card" style="background-color: #123654;width:250 px">
                                  <iframe height="250" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                </div>
                            </div>
                              <div class="col-md-3">
                                  <div class="card" style="background-color: #123654;width:250 px">
                                    <iframe height="250" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="card" style="background-color: #123654;width:250 px">
                                    <iframe height="250" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row">

                              <div class="col-md-3">
                                  <div class="card" style="background-color: #123654;width:250 px">
                                    <iframe height="250" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>

                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="card" style="background-color: #123654;width:250 px">
                                    <iframe height="250" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="card" style="background-color: #123654;width:250 px">
                                    <iframe height="250" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                <div class="card" style="background-color: #123654;width:250 px">
                                  <iframe height="250" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                </div>
                            </div>

                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row">

                              <div class="col-md-3">
                                  <div class="card" style="background-color: #123654;width:250 px">
                                    <iframe height="250" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>

                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="card" style="background-color: #123654;width:250 px">
                                    <iframe height="250" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="card" style="background-color: #123654;width:250 px">
                                    <iframe height="250" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h4 class="card-title text-white">
                                          Special title treatment</h4>
                                        <p class="card-text text-white">With supporting text
                                                               below as a natural lead-in</p>

                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                <div class="card" style="background-color: #123654;width:250 px">
                                  <iframe height="250" src="https://www.youtube.com/embed/KQIvKVgEy2Y?si=BpBNLI6_KAqspXvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                  <div class="card-body">
                                      <h4 class="card-title text-white">
                                        Special title treatment</h4>
                                      <p class="card-text text-white">With supporting text
                                                             below as a natural lead-in</p>

                                  </div>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>